<footer>
    <nav>
        <a href="https://github.com/AndrewsP04">GitHub</a> | 
        <a href="https://webpages.charlotte.edu/apalapa1">CLT Web</a> | 
        <a href="https://AndrewsP04.github.io">GitHub Pages</a> | 
        <a href="https://www.freecodecamp.org/AndrewsP04">freeCodeCamp</a> | 
        <a href="https://www.linkedin.com/in/andrews-p">LinkedIn</a>
    </nav>
    <p>
        Page designed by <a href="/itis3135/andrewscreativegroup.com/index.html">Andrews Creative Group (ACG)</a> &copy; 2026
    </p>
</footer>